<section class="descript">
    <div class="text">
        <h1 align="center">Quienes somos</h1><br>
        <p>Somos una empresa dedicada a la informática y concienciada con el medio ambiente que ofrece... servicios de consultoría y seguridad informática, administración de sistemas informáticos, telefonía IP, community management, posicionamiento web, diseño web o SEM, entre otros.</p>

        <p>Queremos ser tu Aliado Tecnológico de Confianza. Sabemos que para nuestros clientes su negocio es lo más importante, y que la información se ha convertido en uno de sus activos más valiosos.</p>
        
        <p>Por ello, nuestro compromiso fundamental es ofrecer un trato personalizado, que nos permite adaptarnos a tus necesidades, y ofrecerles servicios y productos que aúnen la máxima calidad y seguridad.</p>
        
        <p>Y este es precisamente nuestro valor añadido: calidad, seguridad, y capacidad para ofrecer una asistencia individualizada que facilite alinear la estrategia de negocio y las Tecnologías de la Información. a libero corporis perferendis consequuntur odio sed ab reprehenderit minus, dolorum error corrupti aliquid necessitatibus eos!</p>
    </div>
</section>
<hr style="border-top:1px solid darkgray;">

<h1 align="center">Donde estamos</h1>
<section class="dondeEstamos">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2666.111454232585!2d-3.129104304728599!3d40.64352288919345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd43abb2219226a5%3A0x6d741c865f9bd9b1!2sCero%20Carb%C3%B3n%20-%20CUSTOS!5e0!3m2!1sen!2ses!4v1656076260484!5m2!1sen!2ses" width="1300" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>


