<div class="container ">
    <!-- <div class="contenido">
            <div class="item" *ngFor="let huerto of listaHuerto">
                <imte a imprimr></item a imprimir>
            </div>
        </div>-->
    <div class="row">
        <div class="card col" style="margin:10px;padding:auto;width:18rem; height:20rem">
            <img [src]="huertoImg" alt="imagen" />
            <div class="card-body">
                <h5>huerto Castilla</h5>
                <p class="card-text">
                    Esto es un texto del huerto, datos
                </p>
                <a href="" class="btn btn-primary">Alquilar Huerto</a>
            </div>

        </div>
        <div class="card col" style="margin:10px;padding:auto;width:18rem; height:20rem">
            <img [src]="huertoImg" alt="imagen" />
            <div class="card-body">
                <h5>huerto Castilla</h5>
                <p class="card-text">
                    Esto es un texto del huerto, datos
                </p>
                <a href="" class="btn btn-primary">Alquilar Huerto</a>
            </div>

        </div>
        <div class="card col" style="margin:10px;padding:auto;width:18rem; height:20rem">
            <img [src]="huertoImg" alt="imagen" />
            <div class="card-body">
                <h5>huerto Castilla</h5>
                <p class="card-text">
                    Esto es un texto del huerto, datos
                </p>
                <a href="" class="btn btn-primary">Alquilar Huerto</a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="card col" style="margin:10px;padding:auto;width:18rem; height:20rem">
            <img [src]="huertoImg" alt="imagen" />
            <div class="card-body">
                <h5>huerto Castilla</h5>
                <p class="card-text">
                    Esto es un texto del huerto, datos
                </p>
                <a href="" class="btn btn-primary">Alquilar Huerto</a>
            </div>

        </div>
        <div class="card col" style="margin:10px;padding:auto;width:18rem; height:20rem">
            <img [src]="huertoImg" alt="imagen" />
            <div class="card-body">
                <h5>huerto Castilla</h5>
                <p class="card-text">
                    Esto es un texto del huerto, datos
                </p>
                <a href="" class="btn btn-primary">Alquilar Huerto</a>
            </div>

        </div>
        <div class="card col" style="margin:10px;padding:auto;width:18rem; height:20rem">
            <img [src]="huertoImg" alt="imagen" />
            <div class="card-body">
                <h5>huerto Castilla</h5>
                <p class="card-text">
                    Esto es un texto del huerto, datos
                </p>
                <a href="" class="btn btn-primary">Alquilar Huerto</a>
            </div>

        </div>
    </div>

    </div>