<div class="general">
<div class="carousel" style="height:'300px'">
<img [src]="imageSRC" style="width: 800px;height:300px;"/>

</div>
<section class="descript">
  <div class="descripcion">
    <h2>Productos y servicios</h2>
    <p>
      Parrafo: aqui hay que incluir todo lo que se 
      quiera decir sobre los Productos
      y servicios que se ofrecen de la empresa de 
      cero carbón como el alquiler de huertos
      la venta de fibra y web etc...
    </p>
    <div class="services"> 
      <div class="service"><img [src]="wifiimg" width="30px"/>
        <p>Internet y telefonía</p></div>
      <div class="service"><img [src]="seedimg" width="30px" /> 
        <p>Huertos urbanos</p></div>
      <div class="service" style="align-self: center;"><img [src]="wifiimg" width="30px" style="left:0; right: 0;top: 0; bottom:0;"/>
        <p>Posicionamiento online</p></div>
    </div>
    <hr>
    <h2>Sobre nosotros</h2>
    <p>
      Somos una empresa de telefonía e informática,
      concienciados con el cuidado del medio ambiente
      e intentamos repercuir lo menos posible a aumentar
      la huella de carbón que...
    </p>
    <a routerLink="quienes somos"><button class="btn btn-success">Leer más</button></a>

  </div>

    <div class="news">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Internet y Telefonía </h5>
          <p class="card-text">Ofrecemos una gran variedad de tarifas <br> para mantenerte conectado con los tuyos <br> ¡Preguntanos sin compromiso!</p>
          <a href="#" class="btn btn-success">Contactar</a>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Investigación de campo</h5>
          <p class="card-text">¿Necesitas una mano para el cuidado de tus platas u hortalizas? <br> Te echamos una mano.</p>
          <a href="#" class="btn btn-success">Saber más</a>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Servicio web y hosting</h5>
          <p class="card-text">¿Quieres tener una página web para tu negocio mientras <br> reduces la huella de carbono en nuestro planeta? <br> Tenemos tu solución</p>
          <a href="#" class="btn btn-success">¡Vamos!</a>
        </div>
      </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    </div>