.footerContainer{
    position:absolute;
    height: 100px;
    width: 100%;
    background-color:#91C788;
    display:flex;
    bottom:0;
}
.credits{
    margin-left: 40px;   
    margin-top:30px;

}